@page "/"
@using MonkeyFinder.Model
@using MonkeyFinder.Services
@inject MonkeyService MonkeyService

<h1>Hello, world!</h1>

<div>
    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th>Location</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var monkey in _monkeys)
        {
            <tr>
                <td>
                    <img src="@monkey.Image" alt="@monkey.Name" style="width: 100px; height: 100px"/>
                </td>
                <td>
                    <strong>@monkey.Name</strong>
                    <p>@monkey.Location</p>
                </td>
            </tr>
        } 
        </tbody>
    </table>
</div>

@code{
    private List<Monkey> _monkeys = [];

    protected override async Task OnInitializedAsync()
    {
        _monkeys = await MonkeyService.GetMonkeysAsync();
    }

}
