@page "/options"

<h3>Options</h3>

<button class="button-yellow" @onclick="CheckInternet">Check Internet</button>

<FluentMenuButton Text="Select theme color" OnMenuChanged="HandleOnMenuChanged">
    <FluentMenuItem Id="1">Light</FluentMenuItem>
    <FluentMenuItem Id="2">Dark</FluentMenuItem>
    <FluentMenuItem Id="0">System</FluentMenuItem> 
</FluentMenuButton>

<p class="optionstheme">Selected Theme: @_selectedTheme</p>